.header {
    &__top {
        background-color: $mainDarkColor;
        color: #fff;
    }

    &__catalog {
        background-color: $mainDarkColor;
    }

    &__body {
        background-color: $mainDarkColor;
        color: #fff;
    }
}

.top-header {
    &__container {
        display: flex;
        align-items: center;
        gap: rem(20);
        min-height: 70px;
        color: rgb(7, 7, 7);
        @media(max-width: $tablet){
            gap: rem(30);
        }
    }

    &__menu {
        flex: 1 1 auto;
    }

    &__user {
        position: relative;
        z-index: 5; 
        display: inline-flex;
        align-items: center;
        font-weight: 600;
        line-height: math.div(22,18);
        color: #fff;
        text-decoration: none;
        font-family: $fontFamily;
        gap: em(15, 18);
        &::before {
            font-size: rem(28);
           
        }

        @media (any-hover:hover) {
            &:hover {
                span{
                    text-decoration: underline;
                }
                
            }
        }
        @media(max-width: $tablet){
            &::before{
                font-size: rem(35);
            }
            
            span{
                display: none;
            }
        }
    }
}

.menu-top-header {
    // .menu-top-header__list

    &__list {
        display: flex;
        row-gap: 5px;
        @include adaptiveValue("column-gap",60 ,20);
        @media(max-width: $tablet){
            flex-direction: column;
            row-gap: 25px;
        }
    }

    // .menu-top-header__item

    &__item {
        &_catalog{
            @media(min-width: $tablet){
                display: none;
            }
    }
    }
    // .menu-top-header__link

    &__link {
        font-family: $fontFamily;
        font-size: rem(16);
        line-height: math.div(20,16);
        text-decoration: none;
        color: #fff;

        @media (any-hover:hover) {
            &:hover {
                text-decoration: underline;
            }
        }
        &_catalog{
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            justify-content: space-between;
            &::before{
                flex: 0 0 14px;
                height: 14px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: rem(8);
                transform: translateY(rem(-2)) rotate(-90deg);
                color: #fff;
            }
        }
        @media(max-width: $tablet){
            @include adaptiveValue("font-size", 30, 20,992, 320, 1)
        }
    }
    @media(max-width: $tablet){
        display: none;
    }
}
.menu{
    
    //.menu__body
    &__body{
        @media (max-width: $tablet) {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left:-100%;
            overflow: auto;
            background-color: $mainDarkColor;
            padding: rem(80) rem(15) rem(50) rem(15) ;
            transition: left 0.3s ease 0s;
            z-index: 4;
            &::before{
                content: '';
                position: fixed;
                width: 100%;
                height: 70px;
                left: -100%;
                top: 0;
                background-color: $mainDarkColor;
            }
            .menu-open & {
                left: 0;
                &::before{
                    left: 0;
                }
            }
        }
    }
    @media (max-width: $tablet) {
        flex: 1 1 auto;
        display: flex;
        color: #fff;
        justify-content: flex-end;
    }
}

.body-header {
    background-color: #ecf1f2;
    // .body-header__container
    padding: 10px 0;

    &__container {
        display: flex;
        min-height: rem(70);
        align-items: center;
        gap: rem(20);
        @media(max-width: $tablet){
            justify-content: space-between;
        }
    }

    // .body-header__logo

    &__logo {
        @extend %ic;
        @extend ._icon-logo;
        color: $mainDarkColor;
        font-size: rem(42);
        text-decoration: none;
    }

    // .body-header__search

    &__search {
        flex: 1 1 auto;
        
        @media(max-width: $tablet){
            padding-right: rem(20);
            }
            @media(max-width: $mobileSmall){
                @include adaptiveValue("padding-left", 158, 20, 1620, 1250,1);
            }    
    }
}

.search-header {
    
    background-color: rgba(7, 7, 7, 0.03);
    border-radius: rem(3);
    position: relative;
    border: 1px solid rgba(4,4,4,0.5);
    // @media(max-width: $tablet){
    //     max-width: rem(377);
    //     }
    // .search-header__button

    &__button {
        position: absolute;
        background-color: transparent;
        height: rem(41);
        width: rem(41);
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: rem(8);
        font-size: rem(20);
        color: #000;
    }

   // .search-header__input

    &__input {
        width: 100%;
        height: 41px;
        background-color: transparent;
        padding: 0px rem(20) 0px rem(50);
        color: $mainDarkColor;
        &::placeholder {
            color: rgba(0, 0, 0, 0.5);
        }
    }
    @media(max-width: $mobileSmall){
        background-color: #fff;
    }
}


.actions-header {
     display: flex;
     align-items: center;
     @media(max-width: $tablet){
            display: none;
        }
    @include adaptiveValue("column-gap", 30, 15, 1620, 1000, 1);
    // .actions-header__location

    &__location {
        display: inline-flex;
        align-items: center;
        font-weight: 600;
        text-decoration: none;
       // margin-left: 0px rem(20) 0px 0px;
        font-family: $fontFamily;
        color: #000000;
        @include adaptiveValue("margin-right", 25,0,1620,1400,1);
        &::before {
            font-size: rem(24);
            margin: 0px em(10, 24) 0px 0px;
            }
            @media (any-hover:hover) {
                &:hover {
                    span{
                        text-decoration: underline;
                    }
                }
            }
        
        
    }

    // .actions-header__phones

    &__phones {}

    // .actions-header__heard

    &__favorite {
        position: relative;
        z-index: 5;
        font-size: rem(30);
        color: rgb(190, 190, 190);
        text-decoration: none;
    }

    // .actions-header__cart

    &__cart {
        color: #000;
        text-decoration: none;
    }
}

.phones-header {
   position: relative;
   z-index: 5;
    // .phones-header__items

    &__items {
        color: #000000;
        list-style-type: none;
    }

    // .phones-header__item
    &__item {
        position: relative;
        display: flex;
        //text-decoration: none;
    }

    // .phones-header__phone
    &__phone {
        
        text-decoration: none;
        font-weight: 600;
        white-space: nowrap;
        line-height: math.div(22,18);
        &::before{
            @extend %ic;
            @extend ._icon-footer-phone;
        }
        color: rgb(188, 189, 188);
        @media(max-width: $tablet){
            font-size: rem(25);
        }
        @media(max-width: $mobileSmall){
            &::before{
                display: block;
                font-size: rem(35);
            }
            span{
                display: none;
            }
        }
       }

    // .phones-header__arrow
    &__arrow {
        font-size: rem(10);
        height: rem(18);
        margin: 0px 0px 0px em(17, 16);
        transition:transform 0.3 ease 0s;
        &._spoller-active{
            transform: rotate(-180deg);
        }
        @media(max-width: $tablet){
            display: none;
        }
    }

    // .phones-header__list
    &__list {
        list-style-type: none;
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        z-index: 2;
        margin: rem(5) 0px 0px 0px;
        border-radius: rem(10);
        background-color: #fff;
        padding: rem(15);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

        li {
          &:not(:last-child) {
                margin-bottom: em(8,18);
            }
        }
        @media(max-width: $tablet){
            display: none;
        }
    }

    // .phones-header__callback

    &__callback {
        margin: rem(3) 0px 0px 0px;
        font-weight: 700;
        line-height: math.div(22,18);
        color: $mainOrangeColor;
        
        @media (any-hover:hover) {
            &:hover {
              text-decoration: underline;
            }
        }
        @media(max-width: $tablet){
            display: none;
        }
}
}

.cart-header {
    display: flex;
    align-items: center;
    column-gap: 15px;
    
    // .cart-header__icon

    &__icon {
        color: rgb(201, 43, 43);
        flex: 0 0 37px;
        position: relative;
        z-index: 5;
        span {
            position: absolute;
            width: rem(14);
            height: rem(14);
            background-color: $mainOrangeColor;
            font-size: rem(7);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            right: 0;
            color: #fff;
        }
    }

    // .cart-header__body

    &__body {
        font-size: rem(16);
        line-height: math.div(20,16);
        //flex: 0 0 auto;
        @media (max-width: em(1250)) {
            display: none;
            
        }
    }

    // .cart-header__summ

    &__summ {
        font-weight: 500;
        &:not(:last-child) {
            margin-bottom: em(5,16);
        }
    }

    // .cart-header__link

    &__link {
        text-decoration: none;
        color: $mainOrangeColor;
        @media (any-hover:hover) {
            &:hover {
              text-decoration: underline;
            }

    }
    }
}


.catalog-header {
    background-color: $mainDarkColor;
    color: #fff;
    font-family: $fontFamily;
    
    //position: relative;
    // .catalog-header__container

    &__container {}

    // .catalog-header__menu

    &__menu {}
    @media(max-width: $mobileSmall){
        padding: rem(20) 0;
    }
}

.menu-catalog {
    @media(max-width: $tablet){
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: $mainDarkColor;
        padding: rem(25) rem(15) rem(50) rem(15);
        transition: left 0.3s ease 0s;
        .catalog-open &{
            left: 0;
            z-index: 6;
        }
    }

    // .menu-catalog__list

    &__list {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        @media(max-width: $tablet){
            flex-direction: column;
            row-gap: rem(25);
        }
        }
    // .menu-catalog__item

    &__item {}

    // .menu-catalog__link

    &__link {
        
        display: flex;
        color: #fff;
        text-decoration: none;
        font-family: $fontFamily;
        font-weight: 700;
        //font-style: normal;
        font-size: rem(16);
        line-height: 20px;
        position: relative;
        transition: color 0.3s ease 0s;
        @media(min-width: $tablet){
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 0px rem(10);
            min-height: rem(70);
        }

        &::after {
            content: "";
            opacity: 0;
            visibility: hidden;
            position: absolute;
            bottom: 0;
            left: 10px;
            height: 1px;
            background-color: $mainOrangeColor;
            width: calc(100% - rem(20));
            transition: all 0.3s ease 0s
        }

        @media (any-hover:hover) {
            &:hover {
                color: $mainOrangeColor;
                &::after {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        &._sub-menu-active{
            color: $mainOrangeColor;
            &::after {
                opacity: 1;
                visibility: visible;
            } 
        }
        @media(max-width: $tablet){
            @include adaptiveValue("font-size", 30, 20, 992, 320, 1);
        }
    }

    // .menu-catalog__sub-menu

    &__sub-menu {
        width: 100%;
        left: 0;
        top: 100%;
        transition: opacity 0.3s ease 0s;
        background-color: $mainDarkColor;
    }
    &__back{
        display: none;
        @media(max-width: $tablet){
            display: inline-flex;
            align-items: center;
            @include adaptiveValue("font-size", 30, 20, 992, 320, 1);
            &:not(:last-child){
                margin-bottom: em(65,30);
            }
            &::before{
                margin: 0px em(13, 30) 0px 0px;
            }
        }
        }
    
      
}


.sub-menu-catalog {
    @media(max-width: $tablet){
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: $mainDarkColor;
        padding: rem(25) rem(15) rem(50) rem(15);
        transition: left 0.3s ease 0s;
        
        .sub-menu-open &{
            display: block;
            left: 0;
            z-index: 6;
        }
    }

    &__back{
        display: none;
        @media(max-width: $tablet){
            display: inline-flex;
            align-items: center;
            @include adaptiveValue("font-size", 30, 20, 992, 320, 1);
            &:not(:last-child){
                margin-bottom: em(65,30);
            }
            &::before{
                margin: 0px em(13, 30) 0px 0px;
            }
        }
        }
    
    // .sub-menu-catalog__block

    &__block {
        display: none;
        @for $var from 1 to 6 {
            &_#{$var}{
                grid-template-columns: repeat($var, minmax(auto, 320px));
            }
        }
        &._sub-menu-open{
            display: grid;
            @media(max-width: $tablet){
                display: block;
            }
        }
        @media(max-width: $tablet){
            position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: $mainDarkColor;
            padding: rem(25) rem(15) rem(50) rem(15);
            transition: left 0.3s ease 0s;
            
            &._sub-menu-open{
                display: block;
                left: 0;
                z-index: 6;
            }
        }

    }

    // .sub-menu-catalog__container

    &__container{
        padding: 0px rem(10);
    }

    // .sub-menu-catalog__category

    &__category {
        font-weight: 700;
        font-size: rem(16);
        line-height: math.div(20,16);
        padding: 30px 15px 30px 0;
        color: #fff;
        text-decoration: none;
        @media (any-hover:hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    //.sub-menu-catalog__link-category
    &__link-category{
        text-decoration:none;
        color: #fff;
    }
    // .sub-menu-catalog__list

    &__list {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        gap: 20px;
        padding: 30px 15px 30px 0;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    // .sub-menu-catalog__item

    &__item {}

    // .sub-menu-catalog__link

    &__link {
        color: #fff;
        text-decoration: none;
        font-weight: 500;
        font-size: rem(16);
        line-height: math.div(20,16);
        @media (any-hover:hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
    // .sub-menu-catalog__footer

    &__footer{
        padding: 30px 15px 30px 0;
    }

    // .sub-menu-catalog__all

    &__all {
        padding-bottom: 30px;
        font-style: normal;
        font-weight: 500;
        font-size: rem(16);
        line-height: math.div(20,16);
        color: $mainOrangeColor;
        @media (any-hover:hover) {
            &:hover {
                text-decoration: underline;
            }
        }

    }
}

//====================================================================================================

//Burger

.icon-menu {
	//display: none;
	@media (max-width: $tablet) {
		display: block;
		position: relative;
        flex: 0 0 30px;
		width: rem(40);
		height: rem(22);
		z-index: 10;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: rgb(255, 255, 255);
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
